<h2>Edit User</h2>

<form action="/modify_user/<%= @user.id %>" id="edit_user">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <div>
    <label for="user_email">Email</label> <br>
    <input type="text" id="user_email" name="query_email">
  </div>

  <div>
    <label for="user_password">Password</label><i>(leave blank if you don't want to change it)</i> <br>
    <input type="text" id="user_password" name="query_password">
  </div>

<div>
  <label for="password_confirmation">Password confirmation</label> <br>
  <input type="text" id="password_confirmation">
</div>

<div>
  <label for="current_password">Current Password</label><i>(we need your current password to confirm your changes)</i> <br>
  <input type="text" id="current_password">
</div>
  <div><button type="submit">Update</button></div>
</form>

<h3>Cancel my account</h3>

<p>Unhappy?</p>
<button>Cancel my account</button>

</form>
